/* Entire App */
.app {
    width: 100%;
    user-select: none;

    animation: fadeIn 1.5s linear;

    /* color theme */
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);

    color: var(--text-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* App Header */
.app-header {
    width: 100%;
    height: auto;

    border: 1px solid var(--border-color);
}

.title {
    text-align: center;
    font-size: 5vw;

    border: 1px solid var(--border-color);
    border-radius: 1.5em;

    align-items: center;
    padding: 0.5em;
    margin-top: 0.5em;

    /* color theme */
    background-color: var(--bg-color1);
}

.navbar {
    font-size: 2.5vw;

    margin: 0.5em;
    overflow: scroll;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-link {
    margin: 0.5rem;
    padding: 0.5em;

    /* color theme */
    color: var(--link-color);
}

.nav-link:hover {
    color: var(--link-hover-color);
    border: 1px dashed var(--border-color);
}

/* App Center */
.app-body {
    width: 100%;

    border: 1px solid var(--border-color);
}

/* App Footer */
.app-footer {
    width: 100%;
    font-size: 2vw;

    text-align: center;

    padding: 0.5em 0em 0.5em 0em;

    border: 1px solid var(--border-color);

}