/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  border: 1px solid red;
}

:root {
  /* Color Palette */
  --background-color: #000;
  /* Black background */
  --text-color: #fff;
  /* White text */
  --primary-color: #fff;
  /* White for highlights, buttons, etc. */
  --secondary-color: #999;
  /* Light gray - subtle accents */
  --border-color: #444;
  /* Darker gray for borders and dividers */
  --accent-color: #fff;
  /* White for subtle highlights or interactive elements */

  /* Grayscale colors for depth */
  --gray-100: #f0f0f0;
  /* Very light gray */
  --gray-200: #d0d0d0;
  /* Light gray */
  --gray-300: #a0a0a0;
  /* Medium gray */
  --gray-400: #707070;
  /* Darker gray */

  /* Font sizes */
  --fontsize-1: clamp(1rem, 1.5vw, 2rem);
  --fontsize-2: clamp(1.5rem, 2.5vw, 3rem);
  --fontsize-3: clamp(2rem, 3.5vw, 4rem);


  /* Small Screen (Mobile) */
  --fontsize-s-1: 5vw;
  /* 5% of viewport width for small titles */
  --fontsize-s-2: 7vw;
  /* 7% of viewport width for headings */
  --fontsize-s-3: 8vw;
  /* 8% of viewport width for larger text */

  /* General spacing (use rem for more predictable scaling) */
  --space-xs: 0.5rem;
  /* 8px */
  --space-sm: 1rem;
  /* 16px */
  --space-md: 2rem;
  /* 32px */
  --space-lg: 3rem;
  /* 48px */
  --space-xl: 4rem;
  /* 64px */

  /* Border radius for rounded elements */
  --border-radius: 0.5rem;
  /* For buttons, containers, etc. */
  --max-width: 90vw;
  /* 90% of the viewport width for container elements */

  /* screen breakpoint */
  --small-screen: 800px
}