
.app-main{
    padding: 0;
    margin: 0;
}

.app-main-res {
    width: 100%;
    /* max-width: var(--max-width); */
    margin: 0;
    padding: 0;
}

.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

.resume-iframe {
    width: 100%;
    height: inherit;
    border: none;
}
